@page "/allfactures"
@using Facture = WebApplication.Facture

@inject HttpClient Http
@inject IBusinessData data


<h1>Factures</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Numero Facture</th>
          <th scope="col">Nom client</th>
          <th scope="col">Date Emission</th>
          <th scope="col">Date Echeance</th>
          <th scope="col">Montant Du</th>
          <th scope="col">Montant Réglé</th>
        </tr>
      </thead>
      <tbody>
      @foreach (var facture in data.Factures)
      {
        <tr>
          <td>@facture.numero</td>
          <td>@facture.nomClient</td>
          <td>@facture.dateEmission</td>
          <td>@facture.dateEcheance</td>
          <td>@facture.montantDu</td>
          <td>@facture.montantRegle</td>
        </tr>
      }
      </tbody>
    </table>


@code {


}